*.log
*.out
*.lck
NVIDIA/
stats/
saves/
.gitignore
ForgeModLoader*
*log*
.Minecraft/
mods/VoxelMods/
screenshots/
settings.txt
crash-reports/
*.exe
*hmcl*
options.txt
OpenComputersMod-1.3.6.561-native.64.dll
natives/
resourcepacks/
options.txt